<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="csrf-token" content={get_csrf_token()} />
    <title>{assigns[:page_title] || "Admin · SuperBarato"}</title>
    <link rel="icon" type="image/svg+xml" href={~p"/images/logo/favicon.svg"} />
    <link rel="icon" type="image/svg+xml" sizes="16x16" href={~p"/images/logo/favicon-16.svg"} />
    <link rel="alternate icon" href={~p"/favicon.ico"} />
    <StupendousAdmin.Stylesheets.render />
    <link phx-track-static rel="stylesheet" href={~p"/assets/css/admin/admin.css"} />
    <StupendousAdmin.Scripts.render />
    <script defer phx-track-static type="text/javascript" src={~p"/assets/js/app.js"}>
    </script>
  </head>
  <.admin_body flash={@flash}>
    {@inner_content}
  </.admin_body>
</html>
