<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="csrf-token" content={get_csrf_token()} />
    <title>{assigns[:page_title] || "Admin · SuperBarato"}</title>
    <StupendousAdmin.Stylesheets.render />
    <StupendousAdmin.Scripts.render />
  </head>
  <.admin_body flash={@flash}>
    {@inner_content}
  </.admin_body>
</html>
