<!DOCTYPE html>
<html lang="es-CL" class="home">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="csrf-token" content={get_csrf_token()} />
    <.live_title default="SuperBarato.cl">
      {assigns[:page_title]}
    </.live_title>
    <link rel="stylesheet" href={~p"/assets/css/reset.css"} />
    <link rel="stylesheet" href={~p"/assets/css/app/variables.css"} />
    <link rel="stylesheet" href={~p"/assets/css/app/layout.css"} />
    <link rel="stylesheet" href={~p"/assets/css/app/search.css"} />
    <link rel="stylesheet" href={~p"/assets/css/app/results.css"} />
    <link rel="stylesheet" href={~p"/assets/css/app/card.css"} />
    <link rel="stylesheet" href={~p"/assets/css/app/cart.css"} />
    <link rel="stylesheet" href={~p"/assets/css/app/modal.css"} />
    <script defer phx-track-static type="text/javascript" src={~p"/assets/js/app.js"}>
    </script>
    <script
      :if={Application.get_env(:super_barato, :analytics_enabled, false)}
      defer
      src="https://stats.superbarato.cl/script.js"
      data-website-id="2ad746e8-af46-415e-925f-9feaa9f5069e"
    >
    </script>
  </head>
  <body>
    {@inner_content}
  </body>
</html>
