.input {
    font-size: var(--font-size-md);
    border-radius: var(--radius-sm);
    border: 1px solid var(--border-color-2);
    padding: var(--spacing-xs) var(--spacing-sm);
    background-color: var(--background-color-0);
}

select.input {
    height: calc(
        var(--font-size-md) * 1.4 + var(--spacing-xs) * 2 + 2px
    );
}

.input [type="checkbox"] {
    margin-right: var(--spacing-md);
}
