:root {
    --font-family-base:
        "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    --font-size-base: 1rem;
    --spacing-unit: 1rem;
    --radius-unit: 10px;
    --accent-color: #0052cc;

    --font-size-xs: calc(var(--font-size-base) * 0.8 * 0.8);
    --font-size-sm: calc(var(--font-size-base) * 0.8);
    --font-size-md: var(--font-size-base);
    --font-size-lg: calc(var(--font-size-base) * 1.5);
    --font-size-xl: calc(var(--font-size-base) * 1.5 * 1.5);

    --spacing-xs: calc(var(--spacing-unit) * 0.25);
    --spacing-sm: calc(var(--spacing-unit) * 0.5);
    --spacing-md: var(--spacing-unit);
    --spacing-lg: calc(var(--spacing-unit) * 2);
    --spacing-xl: calc(var(--spacing-unit) * 4);

    --radius-sm: calc(var(--radius-unit) * 0.5);
    --radius-md: var(--radius-unit);
    --radius-lg: calc(var(--radius-unit) * 2);

    --text-color-1: #121212;
    --text-color-2: #363636;
    --text-color-3: #787878;

    --border-color-1: #eee;
    --border-color-2: #ddd;
    --border-color-3: #bbb;

    --background-color-0: #fff;
    --background-color-1: #f6f6f6;
    --background-color-2: #a2a2a2;

    --error-text: #411;
    --error-border: #a99;
    --error-background: #fcc;

    --info-text: #114;
    --info-border: #99a;
    --info-background: #ccf;

    --success-text: #141;
    --success-border: #9a9;
    --success-background: #cfc;
}

@media (max-width: 600px) {
    :root {
        --font-size-base: 0.8rem;
        --spacing-unit: 0.25rem;
    }
}
