<.admin_container title="New Cron Job">
  <:actions>
    <.button href={~p"/admin/crawlers/schedules"} variant={:subtle}>← Cron Jobs</.button>
  </:actions>

  <.schedule_form changeset={@changeset} action={@action} />
</.admin_container>
